* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #111111;
}
.logo {
  margin: 30px 100px;
  width: 200px;
  height: auto;
}
.nav-items {
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  left: 800px;
  top: 50px;
}
.nav-item {
  display: inline-block;
  margin: 0 10px;
  font-weight: 100;
}
.person-img {
  width: 500px;
  position: relative;
  left: 200px;
  top: -70px;
}
.header3 {
  position: relative;
  left: 700px;
  top: -410px;
  color: #e6303e;
  font-size: 25px;
}
.hd1 {
  position: relative;
  left: 700px;
  top: -410px;
  color: #fff;
  font-size: 60px;
  margin: 4px 0px;
}
